form, h1 {
margin: 0 auto;
margin-top:100px;
}
.submit {
margin: 0 auto;
position: relative;
}
.submit input {
  margin-bottom: 40px;


}

legend {
  font-weight: bolder;
  font-size: 20px;
}
input {
 display:block;
 margin-top: 20px;
}

  input[type="radio"] {
    width:18px;
    height:18px;

  }
